.project-list-item {
  display: flex;
  flex-direction: row;
  .project-item-action {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
  }
  .project-item-detail {
    flex: 1;
  }
}

button {
  border: none;
  border-radius: 6px;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1.25em;
  padding: .5em 1em;
  &.btn-primary {
    background: lightseagreen;
    color: white;
  }
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  text-align: center;
  a {
    padding: .5em;
    flex: 1 1;
    background: #101d40;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover{
        color:lightseagreen;
    }
  }
  p {
    margin: 0;
    font-size: 0.75em;
  }
}


input{
  font-weight: bold;
  color: white;
  border-radius: 6px;
  padding: 0.75em;
  background: #ffffff36;
  border: none;
}

.margin-v-m{
  padding: 2em;
}